<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/main_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/main_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.ExpensesTracker"
        tools:targetApi="31">

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="333217575752159"/>

        <meta-data android:name="com.facebook.sdk.ClientToken"
            android:value="ebbd376eb5345395f737b9c7f296693d"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"/>

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".presenter.activity.SplashScreen"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".presenter.activity.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:exported="true"/>

        <activity android:name=".presenter.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:exported="true"/>

        <activity android:name=".presenter.activity.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:exported="true"/>

    </application>

</manifest>